@import "tailwindcss";
@import "daisyui/daisyui.css";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1170px;
  --breakpoint-2xl: 1410px;

  --font-jost: "Jost", sans-serif;
  --color-primary-black: #222222;
  --color-primary-white: #ffffff;
  --color-secondary-grey: #767676;
  --color-thirdColor: #b9a16b;
  --color-fourthColor: #ddc2b9;
}

.list-items {
  @apply font-jost text-primary-black after:bg-primary-black relative text-sm leading-6 font-medium after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:transition-all after:duration-300 after:content-[''] hover:after:w-[40%];
}
.cartItems {
  @apply font-jost text-primary-white bg-thirdColor absolute -right-1.75 -bottom-0.75 flex h-4 w-4 items-center justify-center rounded-full text-[10px] font-medium;
}

/* keen-slider css */
[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-wrapper {
  position: relative;
}
.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}
.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}
.dot:focus {
  outline: none;
}
.dot.active {
  background: #000;
}
/* keen-slider css */
